<%- include("./partials/header")%>

<h1>Edit Cluck</h1>

<form action="/posts/<%= post.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <div class="form-group">
    <textarea
      class="form-control"
      name="content"
      cols="60"
      rows="5"
      placeholder="Whatchoo cluckin' 'bout?"
    ><%= post.content %></textarea>
  </div>

  <div class="form-group">
    <input
      type="url"
      class="form-control"
      name="imageUrl"
      placeholder="e.g. http://imgur.com/myPic.jpg"
      value="<%= post.imageUrl %>"
    >
  </div>

  <input type="submit" value="Update Cluck" class="btn btn-outline-dark text-light">
</form>

<%- include("./partials/footer")%>